services:
  - type: web
    name: realtime-api
    runtime: docker
    rootDir: api
    dockerfilePath: Dockerfile
    branch: main
    plan: free
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000

  - type: web
    name: realtime-web
    runtime: docker
    rootDir: web
    dockerfilePath: Dockerfile
    branch: main
    plan: free
    autoDeploy: true
    envVars:
      - key: PORT
        value: 3000
      - key: VITE_API_URL
        value: https://realtime-api-bt0a.onrender.com
