services:
  - type: api
    repo: https://github.com/MrLkuch/RealTime-Room
    name: realtime-api
    env: docker
    dockerfilePath: ./api/Dockerfile
    healthCheckPath: /health
    plan: free
    autoDeploy: true
    branch: main

  - type: web
    repo: https://github.com/MrLkuch/RealTime-Room
    name: realtime-web
    rootDir: web
    buildCommand: pnpm install && pnpm run build
    staticPublishPath: dist
    dockerfilePath: ./web/Dockerfile
    plan: free
    autoDeploy: true
    branch: main