@use "../../styles/variables" as *;

.btn {
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;

  &-primary {
    background: $accent;
    color: white;

    &:hover {
      opacity: 0.85;
    }
  }

  &-soft {
    background: #e0dedc;
    color: $text-dark;
  }
}
